@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0 20px; }

main {
	margin: 30px auto;
	padding: 30px;
	max-width: 1200px;
	width: 100%;
	height: calc(100vh - 60px);
	background-color: #3498db;
	color: #ecf0f1;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	flex: 2;
}

.box {
	flex: 3;
	padding: 0 40px;
}

.buttons {
	flex: 2;
	position: relative;
}

.trigger, .tweet {
	width: 250px;
	height: 50px;
	background-color: #3498db;
	border: 3px solid #ecf0f1;
	border-radius: 25px;
	color: #ecf0f1;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
}

.tweet {
	display: block;
	line-height: 50px;
	margin-top: 20px;
	text-align: center;
}

.trigger:hover, .tweet:hover {
	transform: scale(1.10);
	background-color: #ecf0f1;
	color: #3498db;
}